[submodule "lib/ccip"]
	path = lib/ccip
	url = https://github.com/smartcontractkit/ccip
	branch = ccip-develop
[submodule "lib/chainlink-ace"]
	path = lib/chainlink-ace
	url = https://github.com/smartcontractkit/chainlink-ace
	branch = main
